@font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.section01-background{
    background: url('../img/back.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.logo img{
    width: 100px;
    margin-left: 5px;
    padding-top: 5px;
}
.main-txt{
    /* position: relative; */
    text-align: center;
    top: -20px;
}
.main-title{
    color: rgb(211, 211, 211);
    text-align: center;
    font-size: 70px;    
    font-family: 'NotoSerifKR';
    letter-spacing: 40px;
}
.main-title-2{
    color: rgb(211, 211, 211);
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'NotoSerifKR';
    letter-spacing: 23px;
}
.main-title-3{
    color: rgb(211, 211, 211);
    line-height: 60px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'NotoSerifKR';
}
.main-title-4{
    color: rgb(211, 211, 211);
    line-height: 60px;
    padding-top: 580px;
    font-size: 15px;
    text-align: center;
    font-family: 'NotoSerifKR';
    letter-spacing: 20px;
    
}



.tab-car-color-txt>ul>li{
    list-style: none;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    cursor: pointer;
}
.tab-car-color-txt>ul{
    display: flex;
}
.tab-car-color-txt{
    padding-top: 20px;
}
.sgp{
    background-color: rgb(43, 43, 43);
}
.mcd{
    background-color: rgb(8, 8, 43);
}
.tlb{
    background-color: rgb(0, 0, 0);
}
.svd{
    background-color: rgb(77, 0, 19);
}
.rpt{
    background-color: rgb(51, 71, 52);
}
.wtc{
    background-color: rgb(255, 255, 255);
}


#mcd{
    display: none;
}
#tlb{
    display: none;
}
#svd{
    display: none;
}
#rpt{
    display: none;
}
#wtc{
    display: none;
}
/* section1 끝 */


.section2{
    /* background:url('../img/back-1.jpg'); */
    background-color: rgb(192, 192, 192);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}
.txt2,.txt3,.txt4,.txt5,.txt6{
    display: none;
    
}
.section02-text h1{
    font-size: 25px;
    font-family: 'NotoSerifKR';
    color: black;
}
.section02-text h3{
    font-size: 18px;
    font-family: 'NotoSerifKR';
    color: black;
}
.section2-main-txt{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'NotoSerifKR';
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}
.section2-main-txt>h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: black;
}
.section2-sub-txt{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-family: 'NotoSerifKR';
    font-weight: bold;
}
.tab-img{
    padding-top: 50px;
    padding-bottom: 50px;
}
.bottom-box{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
}
/* section02 끝 */

.section03{
    background-color: rgb(255, 255, 255);
}
.section03-img{
    background: url('../img/img1-4-1.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 690px;
    width: 100%;   
}
.section03-txt{
    font-family: 'NotoSerifKR';
    color: rgb(211, 211, 211);
    padding-top: 300px;
    padding-left: 20px;
    padding-bottom: 170px;
}
.section03-txt>h1{
    letter-spacing: 5px;
}
.section03-txt>h2{
    font-size: 20px;
    letter-spacing: 10px;
}



/* modal */

.modal-dialog>img{
    width: 600px;
}
.modal-title{
    font-size: 30px;
    font-family: 'NotoSerifKR';
}
.modal-body{
    font-size: 18px;
    font-family: 'NotoSerifKR';
}
.modal-2{
    
    padding-bottom: 7px;
}
.modal-1{

}

/* section03 끝 */




.section04{
    background-color: rgb(255, 255, 255);
}
.section04-img{
    background: url('../img/car-in3.jpg');
    background-position: right center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 690px;
    width: 100%;
    
}
.section04-main-txt{
    padding-top: 260px;
    
    font-family: 'NotoSerifKR';
    color: rgb(211, 211, 211);
    float: right;
}
.section04-main-txt>h1{
    letter-spacing: 5px;
    padding-right: 30px;
}
.section04-main-txt>h2{
    font-size: 20px;
    letter-spacing: 10px;
    float: right;
    padding-right: 30px;
}
.hover-img>img{
    width: 440px;
}
.hover-img>img:hover{
    cursor: pointer;
}

/* section04 끝 */

.section05-img{
    background: url('../img/05-img.jpg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    
}
.section05-txt{
    font-family: 'NotoSerifKR';
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.section05-background{
    background-color: rgb(233, 227, 227);
}
.section05-img-2>img{
    width: 650px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.section05-txt-2>h1{
    font-size: 19px;
    line-height: 40px;
    font-family: 'NotoSerifKR';
    padding-top: 260px;
}


.section06-txt{
    padding-top: 110px;
}
.section06-txt>h1{
    font-family: 'NotoSerifKR';
    font-weight: bold;
}
.tab{
    padding-top: 110px;
}
.nav{
    font-family: 'NotoSerifKR';
    font-size: 20px; 
}
.active>a>h1{
    font-size: 30px;
    font-family: 'NotoSerifKR';
    color: rgb(255, 255, 255);
}
.tab-content{
    padding-bottom: 130px;
}
#menu1>h1{
    font-size: 25px;
    font-family: 'NotoSerifKR';
    font-weight: bold;
}
#menu2>h1{
    font-size: 25px;
    font-family: 'NotoSerifKR';
    font-weight: bold;
}
#menu3>h1{
    font-size: 25px;
    font-family: 'NotoSerifKR';
    font-weight: bold;
}
#menu4>h1{
    font-size: 25px;
    font-family: 'NotoSerifKR';
    font-weight: bold;
}
.section06-img{
    padding-bottom: 130px;
}
.section06-txt2>h1{
    font-family: 'NotoSerifKR';
    font-weight: bold;
    padding-bottom: 100px;
}
.section06-txt2-2{
    font-family: 'NotoSerifKR';
    font-weight: bold;
    font-size: 18px;
}
.section06-txt2-2>h1{
    
    font-family: 'NotoSerifKR';
    font-weight: bold;
    font-size: 25px;
    
}


/*  */


/* 섹션06 끝 */
.section07{
    background-color: rgb(233, 227, 227);
}
.section07-txt{
    padding-top: 20px;
    padding-bottom: 50px;
}
.section07-txt>h1{
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'NotoSerifKR';
    font-weight: bold;
    letter-spacing: 5px;
}
.section07-txt>h2{
    font-family: 'NotoSerifKR';
    font-weight: bold;
    padding-bottom: 50px;
}

.section07-img{
    padding-bottom: 100px;

}
.circle1,.circle2,.circle3,.circle4,.circle5{
    width: 15px;
    height: 15px;
    background-color: rgb(160, 61, 61);
    border-radius: 100%;
    border: 1px solid white;
    box-shadow: white 0 0 5px;
    cursor: pointer;
    animation: circle-effect 1.5s ease infinite;
    
}
@keyframes circle-effect {


    0% {
        opacity:  0;
        transform: scale(.5);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
    }

.circle1{
    top: 80px;
    left: 200px;
    position: absolute;
}
.circle2{
    position: absolute;
    top: 390px;
    left: 550px;
}
.circle3{
    position: absolute;
    top: 425px;
    left: 735px;
}
.circle4{
    position: absolute;
    top: 535px;
    left: 835px;
}
.circle5{
    position: absolute;
    top: 150px;
    left: 980px;
}
/*  */
.vip-txt>h1{
    font-size: 20px;
    font-weight: bold;
    font-family: 'NotoSerifKR';
    text-align: center;

}
.vip2{
    padding-bottom: 130px;
}
.vip2-align{
    padding-top: 0px;
    padding-left: 100px;
}
.vip2-img2{
    padding-top: 10px;
}
.vip2-align img{
    width: 400px;
}

/* section07끝 */

.section08{
    background: url(../img/08-img.jpg);
    background-size: 1950px;
    height: 550px;
    background-repeat: no-repeat;
}
.section08-txt>h1{
    color: rgb(211, 211, 211);
    letter-spacing: 20px;
    padding-top: 20px;
    font-family: 'NotoSerifKR';
    text-align: center;
    font-weight: bold;
}
.section08-txt>h2{
    color: rgb(211, 211, 211);
    font-size: 25px;
    text-align: center;
    font-family: 'NotoSerifKR';
    letter-spacing: 10px;
}
.section08-txt>h3{
    color: rgb(211, 211, 211);
    font-size: 20px;
    text-align: center;
    font-family: 'NotoSerifKR';
    line-height: 30px;
    letter-spacing: 5px;
}
.section08-img>img{
    padding-top: 360px;
    width: 700px;
}






@media(max-width: 768px){
    .section01{
        width: 100%;
        height: 100vh;
    }
    .main-title{
        text-align: center;
        font-size: 40px;
        letter-spacing: 30px;   
    }
    .main-title-2{
        font-size: 25px;
        letter-spacing: 10px;
        padding-top: 30px;
    }
    .main-title-3{
        font-size: 18px;
        letter-spacing: 4px;
        line-height: 25px;
        padding-top: 30px;
    }
    .main-title-4{
        position: absolute;
        top: 280px;
        letter-spacing: 2px;
        font-size: 15px;
    }
    .main-txt{
        padding-top: 90px;
    }
    #sgp>img{
        width: 480px;
    }
    #mcd>img{
        width: 480px;
    }
    #tlb>img{
        width: 480px;
    }
    #svd>img{
        width: 480px;
    }
    #rpt>img{
        width: 480px;
    }
    #wtc>img{
        width: 480px;
    }
    .tab-car-color-txt>ul>li{
        width: 35px;
        height: 35px;
    }
    .bottom-box{
        height: 180px;
    }
    
}




