@font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

*{
    margin: 0;
    padding: 0;
}
.section01-background{
    background: url('../img/back.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.logo img{
    width: 100px;
    margin-left: 5px;
    padding-top: 5px;
}
.main-txt{
    /* position: relative; */
    text-align: center;
    top: -20px;
}
.main-title{
    color: rgb(211, 211, 211);
    text-align: center;
    font-size: 70px;    
    font-family: 'NotoSerifKR';
    letter-spacing: 40px;
}
.main-title-2{
    color: rgb(211, 211, 211);
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'NotoSerifKR';
    letter-spacing: 23px;
}
.main-title-3{
    color: rgb(211, 211, 211);
    line-height: 60px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'NotoSerifKR';
}
.main-title-4{
    color: rgb(211, 211, 211);
    line-height: 60px;
    padding-top: 580px;
    font-size: 15px;
    text-align: center;
    font-family: 'NotoSerifKR';
    letter-spacing: 20px;
    
}



.tab-car-color-txt>ul>li{
    list-style: none;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    cursor: pointer;
}
.tab-car-color-txt>ul{
    display: flex;
}
.tab-car-color-txt{
    padding-top: 20px;
}
.sgp{
    background-color: rgb(43, 43, 43);
}
.mcd{
    background-color: rgb(8, 8, 43);
}
.tlb{
    background-color: rgb(0, 0, 0);
}
.svd{
    background-color: rgb(77, 0, 19);
}
.rpt{
    background-color: rgb(51, 71, 52);
}
.wtc{
    background-color: rgb(255, 255, 255);
}


#mcd{
    display: none;
}
#tlb{
    display: none;
}
#svd{
    display: none;
}
#rpt{
    display: none;
}
#wtc{
    display: none;
}
/* section1 끝 */

.section2{
    /* background:url('../img/back-1.jpg'); */
    background-color: rgb(192, 192, 192);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}
.txt2,.txt3,.txt4,.txt5,.txt6{
    display: none;
    
}
.section02-text h1{
    font-size: 25px;
    font-family: 'NotoSerifKR';
    color: black;
}
.section02-text h3{
    font-size: 18px;
    font-family: 'NotoSerifKR';
    color: black;
}
.section2-main-txt{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'NotoSerifKR';
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}
.section2-main-txt>h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: black;
}
.section2-sub-txt{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-family: 'NotoSerifKR';
    font-weight: bold;
}
.bottom-box{
    height: 110px;
    background-color: rgba(255, 255, 255, 0.3);
}
/* section02 끝 */
.section03{
    background-color: rgb(209, 209, 209);
}
.section03-img{
    background: url('../img/img1-4.jpg');
    background-position: center;
    background-size: 2000px;
    background-repeat: no-repeat;
    height: 750px;
    width: 100%;
}
.section03-main-txt{
    padding-top: 200px;
    font-family: 'NotoSerifKR';
    color: rgb(211, 211, 211);
    float: right;
}
.section03-main-txt>h1{
    letter-spacing: 5px;
    padding-right: 30px;
}
.section03-main-txt>h2{
    font-size: 20px;
    letter-spacing: 10px;
    float: right;
    padding-right: 30px;
}



/* modal */
.modal-1{
    /* position: absolute; */
    padding-bottom: 100px;
}
.modal-dialog>img{
    width: 600px;
}
.modal-title{
    font-size: 30px;
    font-family: 'NotoSerifKR';
}
.modal-body{
    font-size: 18px;
    font-family: 'NotoSerifKR';
}







@media(max-width: 768px){
    .section01{
        width: 100%;
        height: 100vh;
    }
    .main-title{
        text-align: center;
        font-size: 40px;
        letter-spacing: 30px;   
    }
    .main-title-2{
        font-size: 25px;
        letter-spacing: 10px;
        padding-top: 30px;
    }
    .main-title-3{
        font-size: 18px;
        letter-spacing: 4px;
        line-height: 25px;
        padding-top: 30px;
    }
    .main-title-4{
        position: absolute;
        top: 280px;
        letter-spacing: 2px;
        font-size: 15px;
    }
    .main-txt{
        padding-top: 90px;
    }
    #sgp>img{
        width: 480px;
    }
    #mcd>img{
        width: 480px;
    }
    #tlb>img{
        width: 480px;
    }
    #svd>img{
        width: 480px;
    }
    #rpt>img{
        width: 480px;
    }
    #wtc>img{
        width: 480px;
    }
    .tab-car-color-txt>ul>li{
        width: 35px;
        height: 35px;
    }
    .bottom-box{
        height: 180px;
    }
    
}




